.twoTower {
    display: flex;
    flex-direction: column;
}
.twoTower > * {
    margin: 0;
}
.twoTower :last-child {
    font-weight: 200;
}

.spdno1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.price {text-align: right;}

.c {
    /* background-color: aqua; */
    padding: .5rem;
}

.c > *:first-child {
    /* display: flex; */
    font-size: 1.3rem;
}