.bg {
    background-image: url("/index/bg.jpg");
    /* Use a leading slash to reference the public folder */
    background-size: cover;
    /* Optional: Cover the container */
    background-position: center;
    /* Optional: Center the image */
    background-repeat: no-repeat;
    /* Optional: Prevent tiling */
    position: absolute;
    width: 100%;
    height: 100vh;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.main .txt_contain {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.main .txt_contain .left {
    width: 75%;
}

.main .txt_contain p {
    font-size: 60px;
    color: #fff;
    font-weight: 400;
}

.main .txt_contain span {
    color: #fff;
    font-weight: 300;
}

.main .txt_contain .inpser {
    width: 100%;
    margin-top: 40px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    outline: none;
    padding-left: 70px;
}
.serbox {
    display: flex;
    flex-direction: row;
}
.iconser {
    color: #000;
    font-size: 30px;
    position: absolute;
    margin-top: 56px;
    margin-left: 20px;
    z-index: 10;
}
.line {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
}

.table .maintable {
    border: 2px solid #efefef;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
    width: 90%;
    padding: 40px 30px;
    border-radius: 15px;
}

.table table {
    overflow-x: auto !important;
    width: 100%;
}

.table table thead {
    border: 2px solid #ccc;
}

.table table thead tr th {
    color: #666666;
    border-bottom: 1px solid #efefef;
    text-align: left;
    padding: 10px 0;
    font-weight: 300;
}

.table tbody tr {
    padding: 10px 0px;
}

.table tbody th {
    border-bottom: 1px solid #efefef;
    text-align: left;
    margin: 0;
}

.table .threeflex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.table .threeflex .img_div {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table .threeflex .img_div img {
    border-radius: 50px;
    width: 35px !important;
    height: 35px !important;
}

.table .threeflex .txt_div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.table .threeflex .txt_div p {
    font-size: 18px;
    font-weight: 400;
}

.table .threeflex .txt_div span {
    font-size: 12px;
    font-weight: 300;
}

.table .center {
    text-align: center;
}

.table .start {
    text-align: left;
}
.table .price {
    font-weight: 400;
}
.table .textred {
    color: #dc3545;
}
.table .textgreen {
    color: #05aa5d;
}
.loaderFrame {
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loaderFramecenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}
.loader {
    position: relative;
    width: 120px;
    height: 140px;
    background-image: radial-gradient(circle 30px, #ccc 100%, transparent 0),
    radial-gradient(circle 5px, #ccc 100%, transparent 0),
    radial-gradient(circle 5px, #ccc 100%, transparent 0),
    linear-gradient(#ccc 20px, transparent 0);
    background-position: center 127px , 94px 102px , 16px 18px, center 114px;
    background-size: 60px 60px, 10px 10px , 10px 10px , 4px 14px;
    background-repeat: no-repeat;
    z-index: 10;
    perspective: 500px;
  }
  .loader::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 3px solid #ccc;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%) rotate(-45deg);
    border-right-color: transparent;
    box-sizing: border-box;
}
  .loader::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg) ;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border: 7px solid #FF3D00;
    border-radius:50%;
    animation: rotate 0.5s linear infinite;
  }

@keyframes rotate {
  to{transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg)   }
}
    

.showMore {
    cursor: pointer;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
.showMore:hover{
    transform: scale(1.05);
    letter-spacing: 1.5px;
}
.main_center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_center .contain {
    margin: 50px 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.main_center .contain .left {
    margin-right: 20px;
    padding: 20px;
}
.main_center .contain .right{
    padding: 20px;
    display: flex;
    flex-direction: column;  
    align-items: start;
    justify-content: start;
}
.main_center .contain .right p span {
    font-size: 48px;
    font-weight: 500;
    color: #007bff;
}
.main_center .contain .right p {
    font-size: 30px;
    font-weight: 300;
}
