.centerul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    padding-top: 150px;
    flex-direction: row;
}

.centerul .inpser {
    width: 50%;
    padding: 20px;
    font-size: 18px;
    border-radius: 100px;
    padding-left: 60px;
    transition: all .3s ease-in-out;
}

.centerul .iconser {
    font-size: 24px;
    position: relative;
    left: 40px;
}

.imgh {
    height: 320px;
    object-fit: cover;
    /* Ensures the image fits within the max height without distortion */
}

.paginationContainer {
    margin-top: 20px;
}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    transition: all .3s ease-in-out;
}

.pageItem {
    margin: 0;
    border: none !important;
    transition: all .3s ease-in-out;
}

.pageLink {
    color: #0d6efd !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 16px !important;
    text-decoration: none !important;
    box-shadow: none !important;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

.pageLink:hover {
    color: #fff !important;
    text-decoration: none !important;
    background: #0d6efd !important;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

.pageItem.active .pageLink {
    font-weight: bold !important;
    text-decoration: underline !important;
}