.dashboard {
    display: flex;
    flex-flow: row;
    gap: 0;
    height: 100vh;
    /* width: 100vh; */
}

.sideBar {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(22, 30, 146); */
    width: 20rem;
    display: flex;
    flex-direction: column;
    user-select: none;
    
}
hr {
    margin: 0;
    color: black;
    border: 1px black solid;
    /* outline: 1px solid rgb(0, 0, 0); */
}
.lists {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.lists p {
    color: rgb(122, 151, 233);
    /* color: rgb(122, 151, 233); */
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 0;
    padding: 1rem;
}
.list p {
    outline: 1px solid rgb(0, 0, 0);
}

.lists :hover {
    cursor: pointer;
    backdrop-filter: brightness(85%);
    color: rgb(10, 12, 14);
}

.sideBar > .header{
    font-size: 3rem;
    text-align: center;
    background-color: rgb(33, 33, 255);
    /* background-color: rgb(43, 43, 182); */
    color: rgb(213, 233, 250);
    /* color: rgb(217, 235, 250); */
}

.data {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(84, 84, 240); */
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    outline: 1px solid rgb(0, 0, 0);
}

.row {
    display: flex;
    flex-grow: 3;
    gap: 1rem;
    margin: 0;
}

.item {
    display: flex;
    flex-flow: column;
    border-radius: .3rem;
    width: 20rem;
    height: 28.5rem;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(117, 126, 255); */
    padding: 1rem;
    flex-grow: 1;
    font-size: 2rem;
    outline: 1px solid rgb(7, 37, 77);
}

.item > p {
    margin-left: .6rem;
}
